# dependencies
/node_modules/
/client/node_modules/
/server/node_modules/

#deepspeech scorer, models, checkpoints files and audio files
/index/audio
/index/audio-0.9.3.tar.gz
/index/deepspeech-0.9.3-checkpoint.tar.gz
/index/deepspeech-0.9.3-models.tflite
/index/deepspeech-0.9.3-models.pbmm
/index/deepspeech-0.9.3-models.scorer
#/index

# production
/client/build/

# mis
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

